*{
    padding: 0;
    margin: 0;
}

.billing{
    background-color: #F8F9FA;
    width: 650px;
    margin: 30px auto;
    border-radius: 5px; 
    border: 0.5px solid grey;
    padding: 10px;
}

div{
    margin-bottom: 10px;
}

.footer-btn{
    padding: 10px;
    text-align: center;
    background-color: #4871F4;
    border-radius: 5px;
}

.footer-btn button{
    background-color: #4871F4;
    padding: 5px;
    color: white;    
    border: none;
}